body {
	min-height: 200px;
	padding-top: 70px;
}
.join-box {
	max-width: 400px;
	margin-top: 10%;
}
.chatter {
	display: none;
}
.chat, .list {
	min-height: 500px;
	max-height: 500px;
	border: 1px solid #A5C6DF;
}
.messages-box {
	max-height: 440px;
	overflow-y: scroll;
}
.list {
	background-color: #D9EDF7;
}
.chat {
	background-color: #F9F9F9;
}
.input-box {
	margin-left: -25px;
	margin-right: -25px;
	position: absolute;
	bottom: 0;
}
